# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.venv-1
# Vector database
chroma_db/

# Virtual environments
.venv/
.venv-1/
# dotenv
.env

# OS files
.DS_Store

# Graphviz output
*.png
*.dot

db_rag/last_result.json
node_modules

# IDE
.vscode/
.idea/
